.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.section {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  grid-row-gap: 16px;
  align-content: flex-start;
  justify-items: center;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 60px 0px 96px;
}
.section > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section > * {
    grid-column: 4;
  }
}
.h2 {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 0px;
  text-align: center;
  min-width: 0;
}
.fragmentApiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.svg__vgJww {
  object-fit: cover;
  max-width: 100%;
  width: 60px;
  height: 60px;
}
.text__qLXa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.text__bGukl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___0MuZ {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 10px;
  min-width: 0;
  padding: 8px;
}
.freeBox__qpHpZ {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__vkpfc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  padding-right: 40px;
  min-width: 0;
}
.freeBox__h9ISt {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  min-width: 0;
  padding: 8px;
}
.freeBox__h9ISt > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__h9ISt > :global(.__wab_flex-container) > *,
.freeBox__h9ISt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__h9ISt > :global(.__wab_flex-container) > picture > img,
.freeBox__h9ISt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.button:global(.__wab_instance) {
  max-width: 100%;
}
.svg___5Qyfw {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  display: none;
}
.link2 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #006adc;
}
.text__llzZ {
  font-size: 19px;
}
.x {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
  display: none;
}
.whatsapp {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
  display: none;
}
.telegram {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
  display: none;
}
.eitaa {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
  display: none;
}
.fragmentInput:global(.__wab_instance) {
  width: auto;
  max-width: 100%;
  object-fit: cover;
  text-align: center;
  cursor: text;
  font-family: "Inter", sans-serif;
  color: #006adc;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: normal;
}
.freeBox__yqnZa {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  min-width: 0;
  padding: 8px;
}
.text__zegre {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  margin-top: 0px;
  padding-right: 40px;
  min-width: 0;
}
.shareButtons {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.shareButtons > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.shareButtons > :global(.__wab_flex-container) > *,
.shareButtons > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.shareButtons > :global(.__wab_flex-container) > picture > img,
.shareButtons
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.eitaaButton:global(.__wab_instance) {
  max-width: 100%;
}
.svg__qDNwq {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.x5 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
  display: none;
}
.whatsapp5 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
  display: none;
}
.telegram5 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
  display: none;
}
.eitaa5 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
}
.whatsappButton:global(.__wab_instance) {
  max-width: 100%;
}
.svg__mbTw7 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.x2 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
  display: none;
}
.whatsapp2 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
}
.telegram2 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
  display: none;
}
.eitaa2 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
  display: none;
}
.telegramButton:global(.__wab_instance) {
  max-width: 100%;
}
.svg__fEnIf {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.x3 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
  display: none;
}
.whatsapp3 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
  display: none;
}
.telegram3 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
}
.eitaa3 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
  display: none;
}
.twitterButton:global(.__wab_instance) {
  max-width: 100%;
}
.svg__sipMp {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.x4 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
}
.whatsapp4 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
  display: none;
}
.telegram4 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
  display: none;
}
.eitaa4 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
  display: none;
}
