.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.section {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  grid-row-gap: 20px;
  align-content: flex-start;
  justify-items: center;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 60px 0px 96px;
}
.section > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section > * {
    grid-column: 4;
  }
}
.h2 {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 0px;
  text-align: center;
  min-width: 0;
}
.fragmentprofile:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.loadingSvg {
  object-fit: cover;
  max-width: 100%;
  width: 60px;
  height: 60px;
}
.text__qLXa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.text__bGukl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__qpHpZ {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h4__fkn4N {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 20px;
  min-width: 0;
}
.fragmentInput:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  text-align: center;
  cursor: text;
  font-family: "Inter", sans-serif;
  color: #0054af;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: normal;
  isolation: auto;
  pointer-events: auto;
  margin-top: 8px;
  margin-bottom: 8px;
  min-width: 0;
}
.shareButtons {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-direction: row;
  min-width: 0;
  border-radius: 5px;
  padding: 8px 10px;
  border-width: 1.5px;
  border-style: dashed;
}
.shareButtons > :global(.__wab_flex-container) {
  align-items: center;
  justify-content: center;
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.shareButtons > :global(.__wab_flex-container) > *,
.shareButtons > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.shareButtons > :global(.__wab_flex-container) > picture > img,
.shareButtons
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .shareButtons {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .shareButtons > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 10px);
    height: calc(100% + 10px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .shareButtons > :global(.__wab_flex-container) > *,
  .shareButtons > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .shareButtons > :global(.__wab_flex-container) > picture > img,
  .shareButtons
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 10px;
  }
}
.button__s5VHv:global(.__wab_instance) {
  max-width: 100%;
}
.svg__fCgLv {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  display: none;
}
.link4 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #006adc;
}
.text__myv0K {
  font-size: 16px;
}
.x7 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #006adc;
}
.whatsapp7 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
  display: none;
}
.telegram7 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
  display: none;
}
.eitaa7 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
  display: none;
}
.text__uAe2D {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
}
.eitaaButton:global(.__wab_instance) {
  max-width: 100%;
}
.svg__qDNwq {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.x5 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
  display: none;
}
.whatsapp5 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
  display: none;
}
.telegram5 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
  display: none;
}
.eitaa5 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
}
.whatsappButton:global(.__wab_instance) {
  max-width: 100%;
}
.svg__mbTw7 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.x2 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
  display: none;
}
.whatsapp2 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
}
.telegram2 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
  display: none;
}
.eitaa2 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
  display: none;
}
.telegramButton:global(.__wab_instance) {
  max-width: 100%;
}
.svg__fEnIf {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.x3 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
  display: none;
}
.whatsapp3 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
  display: none;
}
.telegram3 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
}
.eitaa3 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
  display: none;
}
.twitterButton:global(.__wab_instance) {
  max-width: 100%;
}
.svg__sipMp {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.x4 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
}
.whatsapp4 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
  display: none;
}
.telegram4 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
  display: none;
}
.eitaa4 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
  display: none;
}
.fragmentbooking:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.svg__myVcd {
  object-fit: cover;
  max-width: 100%;
  width: 60px;
  height: 60px;
}
.text__bnYW {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.text__z83Fv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__t7UGh {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h4__w4TXz {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 20px;
  min-width: 0;
}
.fragmentInput2:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  text-align: center;
  cursor: text;
  font-family: "Inter", sans-serif;
  color: #0054af;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: normal;
  isolation: auto;
  pointer-events: auto;
  margin-top: 8px;
  margin-bottom: 8px;
  min-width: 0;
}
.shareButtons2 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-direction: row;
  min-width: 0;
  border-radius: 5px;
  padding: 8px 10px;
  border-width: 1.5px;
  border-style: dashed;
}
.shareButtons2 > :global(.__wab_flex-container) {
  align-items: center;
  justify-content: center;
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.shareButtons2 > :global(.__wab_flex-container) > *,
.shareButtons2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.shareButtons2 > :global(.__wab_flex-container) > picture > img,
.shareButtons2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .shareButtons2 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .shareButtons2 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 10px);
    height: calc(100% + 10px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .shareButtons2 > :global(.__wab_flex-container) > *,
  .shareButtons2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .shareButtons2 > :global(.__wab_flex-container) > picture > img,
  .shareButtons2
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 10px;
  }
}
.button__vvAeB:global(.__wab_instance) {
  max-width: 100%;
}
.svg__mEaCg {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  display: none;
}
.link5 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #006adc;
}
.text___5JEg {
  font-size: 16px;
}
.x8 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #006adc;
}
.whatsapp8 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
  display: none;
}
.telegram8 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
  display: none;
}
.eitaa8 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
  display: none;
}
.text__rv8Ms {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
}
.eitaaButton2:global(.__wab_instance) {
  max-width: 100%;
}
.svg__cq0R {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.x6 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
  display: none;
}
.whatsapp6 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
  display: none;
}
.telegram6 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
  display: none;
}
.eitaa6 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
}
.whatsappButton2:global(.__wab_instance) {
  max-width: 100%;
}
.svg__t39Xw {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.x9 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
  display: none;
}
.whatsapp9 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
}
.telegram9 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
  display: none;
}
.eitaa9 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
  display: none;
}
.telegramButton2:global(.__wab_instance) {
  max-width: 100%;
}
.svg__dG5Cy {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.x10 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
  display: none;
}
.whatsapp10 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
  display: none;
}
.telegram10 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
}
.eitaa10 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
  display: none;
}
.twitterButton2:global(.__wab_instance) {
  max-width: 100%;
}
.svg__aohDg {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.x11 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
}
.whatsapp11 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
  display: none;
}
.telegram11 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
  display: none;
}
.eitaa11 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
  display: none;
}
