.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  padding-top: 20px;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.p24Header {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.p24Header > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.p24Header > :global(.__wab_flex-container) > *,
.p24Header > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.p24Header > :global(.__wab_flex-container) > picture > img,
.p24Header
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.text__k4U7E {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 50px;
  font-weight: 800;
  text-align: center;
  color: #3f4079;
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 100px;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.freeBox___41Z5M {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 216px;
  max-width: 100%;
  margin-top: 50px;
  min-width: 0;
  padding: 8px;
}
.freeBox___41Z5M > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox___41Z5M > :global(.__wab_flex-container) > *,
.freeBox___41Z5M > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___41Z5M > :global(.__wab_flex-container) > picture > img,
.freeBox___41Z5M
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.drImage {
  object-fit: cover;
  max-width: 100%;
  width: auto;
  height: 100%;
  min-height: 0;
  border-radius: 100%;
}
.drImage > picture > img {
  object-fit: cover;
}
.drInfo {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.drName {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 40px;
  font-weight: 700;
  min-width: 0;
}
.experienceContainer {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px;
}
.experienceIcon {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  flex-shrink: 0;
}
.experienceIcon > picture > img {
  object-fit: cover;
}
.experience {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  text-align: right;
  font-size: 25px;
  font-weight: 600;
  padding-left: 0px;
  min-width: 0;
  min-height: 0;
}
.doctoralId {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 20px;
  min-width: 0;
}
.qrcodes {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 100px;
  min-width: 0;
  padding: 8px;
}
.freeBox__yDxeN {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__yDxeN > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__yDxeN > :global(.__wab_flex-container) > *,
.freeBox__yDxeN > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yDxeN > :global(.__wab_flex-container) > picture > img,
.freeBox__yDxeN
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.text__cvToV {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  color: #000000;
  min-width: 0;
}
.bookingQrcode {
  object-fit: cover;
  max-width: 100%;
}
.bookingQrcode > picture > img {
  object-fit: cover;
}
.text__bloVt {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: #006adc;
}
.freeBox__jc4G {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__jc4G > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__jc4G > :global(.__wab_flex-container) > *,
.freeBox__jc4G > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jc4G > :global(.__wab_flex-container) > picture > img,
.freeBox__jc4G
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.text__rfQjn {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: #000000;
  font-size: 20px;
  font-weight: 500;
}
.profileQrcode {
  object-fit: cover;
  max-width: 100%;
}
.profileQrcode > picture > img {
  object-fit: cover;
}
.text__d238L {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-family: var(--iran-sans-x);
  color: #006adc;
}
