.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.analytics:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.section {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  grid-row-gap: 20px;
  align-content: flex-start;
  justify-items: center;
  max-width: 941px;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 60px 0px 96px;
}
.section > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section > * {
    grid-column: 4;
  }
}
.h2 {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 0px;
  text-align: center;
  min-width: 0;
}
.text__cMyJ1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  margin-bottom: 0px;
  padding-bottom: 0px;
  min-width: 0;
}
.fragmentprofile:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.loadingSvg {
  object-fit: cover;
  max-width: 100%;
  width: 60px;
  height: 60px;
}
.text__qLXa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.text__bGukl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__qpHpZ {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
  margin-top: 25px;
  min-width: 0;
  padding: 8px;
}
.freeBox__qpHpZ > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__qpHpZ > :global(.__wab_flex-container) > *,
.freeBox__qpHpZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qpHpZ > :global(.__wab_flex-container) > picture > img,
.freeBox__qpHpZ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.h4__fkn4N {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 20px;
  min-width: 0;
}
.text__dHOqh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  padding-top: 0px;
  margin-top: calc(0px + 10px) !important;
  min-width: 0;
}
.shareButtons {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-direction: row;
  min-width: 0;
  border-radius: 5px;
  padding: 8px 10px;
  border-width: 2px;
  border-style: dashed;
}
.shareButtons > :global(.__wab_flex-container) {
  align-items: center;
  justify-content: center;
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.shareButtons > :global(.__wab_flex-container) > *,
.shareButtons > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.shareButtons > :global(.__wab_flex-container) > picture > img,
.shareButtons
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .shareButtons {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .shareButtons > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 10px);
    height: calc(100% + 10px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .shareButtons > :global(.__wab_flex-container) > *,
  .shareButtons > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .shareButtons > :global(.__wab_flex-container) > picture > img,
  .shareButtons
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 10px;
  }
}
.button__lk5If:global(.__wab_instance) {
  max-width: 100%;
}
.svg__loYBc {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  display: none;
}
.link6 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #006adc;
}
.text__jTpx4 {
  font-size: 16px;
  font-weight: 400;
}
.x12 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #006adc;
}
.whatsapp12 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
  display: none;
}
.telegram12 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
  display: none;
}
.eitaa12 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
  display: none;
}
.eitaaButton:global(.__wab_instance) {
  max-width: 100%;
}
.svg__qDNwq {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.x5 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
  display: none;
}
.whatsapp5 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
  display: none;
}
.telegram5 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
  display: none;
}
.eitaa5 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
}
.whatsappButton:global(.__wab_instance) {
  max-width: 100%;
}
.svg__mbTw7 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.x2 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
  display: none;
}
.whatsapp2 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
}
.telegram2 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
  display: none;
}
.eitaa2 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
  display: none;
}
.telegramButton:global(.__wab_instance) {
  max-width: 100%;
}
.svg__fEnIf {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.x3 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
  display: none;
}
.whatsapp3 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
  display: none;
}
.telegram3 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
}
.eitaa3 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
  display: none;
}
.freeBox__rYk4 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 25px;
  min-width: 0;
  padding: 8px 8px 0px;
}
.freeBox__rYk4 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__rYk4 > :global(.__wab_flex-container) > *,
.freeBox__rYk4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rYk4 > :global(.__wab_flex-container) > picture > img,
.freeBox__rYk4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.h4__z1Rhe {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 20px;
  padding-top: 0px;
  min-width: 0;
}
.text__gyCd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  padding-top: 0px;
  min-width: 0;
}
.freeBox__apKhc {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__apKhc > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__apKhc > :global(.__wab_flex-container) > *,
.freeBox__apKhc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__apKhc > :global(.__wab_flex-container) > picture > img,
.freeBox__apKhc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.freeBox__sBzvu {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 0px;
}
.businessCardImage {
  object-fit: cover;
  max-width: 100%;
  margin-bottom: 0px;
  height: 338px;
  width: 786px;
  margin-right: 0px;
  cursor: pointer;
  flex-shrink: 0;
}
.businessCardImage > picture > img {
  object-fit: cover;
}
.freeBox__q56Vb {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px;
}
.freeBox__q56Vb > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__q56Vb > :global(.__wab_flex-container) > *,
.freeBox__q56Vb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__q56Vb > :global(.__wab_flex-container) > picture > img,
.freeBox__q56Vb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.freeBox__aCqHj {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 0px 8px;
}
.freeBox__aCqHj > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__aCqHj > :global(.__wab_flex-container) > *,
.freeBox__aCqHj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__aCqHj > :global(.__wab_flex-container) > picture > img,
.freeBox__aCqHj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.img__qllNf {
  object-fit: cover;
  max-width: 100%;
  margin-bottom: 0px;
  height: 212px;
  width: 427px;
  cursor: pointer;
  flex-shrink: 0;
}
.img__qllNf > picture > img {
  object-fit: cover;
}
.img__phkRc {
  object-fit: cover;
  max-width: 100%;
  height: 183px;
  width: 495px;
  cursor: pointer;
  flex-shrink: 0;
}
.img__phkRc > picture > img {
  object-fit: cover;
}
.freeBox__ubVgg {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 0px 8px;
}
.freeBox__ubVgg > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__ubVgg > :global(.__wab_flex-container) > *,
.freeBox__ubVgg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ubVgg > :global(.__wab_flex-container) > picture > img,
.freeBox__ubVgg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.img__znDb5 {
  object-fit: cover;
  max-width: 100%;
  height: 166px;
  width: 459px;
  transition-property: all;
  transition-duration: 1s;
  cursor: pointer;
  flex-shrink: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.img__znDb5 > picture > img {
  object-fit: cover;
}
.img__di9Jz {
  object-fit: cover;
  max-width: 100%;
  height: 214px;
  width: 465px;
  cursor: pointer;
  flex-shrink: 0;
}
.img__di9Jz > picture > img {
  object-fit: cover;
}
.dialog:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  flex-grow: 1;
  flex-shrink: 1;
}
.text__jRnLz {
  width: 100%;
  text-align: center;
  min-width: 0;
}
.freeBox__bCWfe {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: stretch;
  min-width: 0;
  padding: 0px;
}
.freeBox__bCWfe > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__bCWfe > :global(.__wab_flex-container) > *,
.freeBox__bCWfe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bCWfe > :global(.__wab_flex-container) > picture > img,
.freeBox__bCWfe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.img___29Nz {
  object-fit: cover;
  max-width: 100%;
}
.img___29Nz > picture > img {
  object-fit: cover;
}
.text__bDcA2 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
}
.contact:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
}
.svg__zRwLn {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__a5ZNh {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__scTPc:global(.__wab_instance) {
  max-width: 100%;
}
.svg__uCmKt {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__bvTfu {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
  display: none;
}
.svg__tY9B2 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
  display: none;
}
.svg__wQnfg {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
}
.svg__zDsz {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
  display: none;
}
.svg__vWKlw {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
  display: none;
}
.collapse:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  background: none;
  margin-top: 25px;
  min-width: 0;
}
.text__gRkXe {
  text-align: right;
}
.freeBox__lzoHs {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__lzoHs > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__lzoHs > :global(.__wab_flex-container) > *,
.freeBox__lzoHs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lzoHs > :global(.__wab_flex-container) > picture > img,
.freeBox__lzoHs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.text__fmgt2 {
  text-align: right;
  width: 100%;
  min-width: 0;
}
.textarea {
  width: 100%;
  height: 150px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
.button__nmH38:global(.__wab_instance) {
  max-width: 100%;
}
.svg__e7PWj {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.x4 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
  display: none;
}
.whatsapp4 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
  display: none;
}
.telegram4 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
  display: none;
}
.eitaa4 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
  display: none;
}
.link3 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #ededec;
}
